/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    padding: 0;
    margin: 0;
    background: #F7F7F7;
}

input {
    outline: none;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}


input::-webkit-input-placeholder { color: #43383e;}
input:-moz-placeholder { color: #43383e;}
input::-moz-placeholder { color: #43383e;}
input:-ms-input-placeholder { color: #43383e;}

textarea::-webkit-input-placeholder { color: #43383e;}
textarea:-moz-placeholder { color: #43383e;}
textarea::-moz-placeholder { color: #43383e;}
textarea:-ms-input-placeholder { color: #43383e;}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


.big-form .form-input{
    font-family: Oswald-Medium;

    font-size: 16px;
    color: #43383e;
    line-height: 1.2;
    position: relative;
    display: block;
    width: calc(100% - 62px);
    height: 62px;
    background: #fff;
    border-radius: 31px;
    padding: 0 35px 0 35px;

}

.big-form input{
    margin-top: 20px;
}


.big-form .container-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-form .btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 62px;
    border-radius: 31px;

    font-family: Oswald-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;

    background-color: #333333;
}

.big-form btn:hover {
    background-color: #222222;
}


/*Checkboxes styles*/
input.noborder-checkbox[type="checkbox"] { display: none; }

input.noborder-checkbox[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;

  font-family: Oswald-Medium;
  
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


input.noborder-checkbox[type="checkbox"] + label:last-child { margin-bottom: 0; }

input.noborder-checkbox[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
  border-radius: 7px;
}

input.noborder-checkbox.dark[type="checkbox"] {

}

input.noborder-checkbox.light[type="checkbox"] {
    
}


input.noborder-checkbox.dark[type="checkbox"]+ label {
    color: #43383e;
}

input.noborder-checkbox.light[type="checkbox"]+ label {
    color: #ddd;
}

input.noborder-checkbox.dark[type="checkbox"]+ label:before {
    border: 2px solid #00464F;
}

input.noborder-checkbox.light[type="checkbox"]+ label:before {
    border: 2px solid #6BEFFF;
}

input.noborder-checkbox[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 2px;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.field{
    margin-top: 20px;
}

.center-field{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center-field * {

}